<%- include('partials/header'); -%>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top"
            style="font-size: 14px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; line-height: 1.5em; color: #555555; font-weight: 500;">
            <%= content.greeting %>,
        </td>
    </tr>
    <tr>
        <td style="height: 30px"></td>
    </tr>
    <tr>
        <td valign="top"
            style="font-size: 14px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; line-height: 1.5em; color: #555555; font-weight: 500;">
            <%= content.welcome %>
        </td>
    </tr>
    <tr>
        <td style="height: 30px"></td>
    </tr>
    <tr>
        <td valign="top"
            style="font-size: 14px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; line-height: 1.5em; color: #555555; font-weight: 500;">
            <%= content.aboutMe %>
        </td>
    </tr>
    <tr>
        <td style="height: 30px"></td>
    </tr>
    <tr>
        <td valign="top"
            style="font-size: 14px; font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif; line-height: 1.5em; color: #555555; font-weight: 500;">
            <%= content.signature %>,<br /><%= content.team %>
        </td>
    </tr>
    <tr>
        <td style="height: 15px"></td>
    </tr>
</table>
<%- include('partials/footer'); -%>